:root {
    --dark-cyan:hsl(158, 36%, 37%);
    --cream:hsl(30, 38%, 92%);
    --dark-blue:hsl(212, 21%, 14%);
    --greyblue:hsl(228, 12%, 48%);
    --white:hsl(0, 0%, 100%);
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--cream);
  }
  .card {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 1rem;
    background-color: var(--white);
    box-shadow: 15px;
    overflow:hidden;
    color: var(--greyblue)
  }
  .img-panel {
    object-fit:contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.img-panel img {
    flex-shrink: 2;
    min-width: 100%;
    min-height: 100%
}
  .body-copy {
    line-height:1.2rem;
    font-size:0.8rem;
    font-family: Montserrat;
    font-weight:400;
    color: var(--grey);
    margin-bottom:5%;
  }
  h1 {
    font-size: 1.9rem;
    font-family:Fraunces;
    font-weight:700;
    color: var(--dark-blue);
    line-height:0.9em;
  }
  .new-price {
    font-size: 1.8rem;
    font-family:Fraunces;
    font-weight:700;
    color: var(--dark-cyan);
  }
  .old-price {
    font-size: 0.7rem;
    font-family: Montserrat;
    font-weight:400;
    color: var(--greyblue);
    text-decoration:line-through;
margin-left:10%;
  }
  h6{
    letter-spacing:5px;
    text-transform:uppercase;
    font-family: Montserrat;
    font-weight:400;
  }
  .button-primary {
    margin-top:10%;
    width:100%;
    background-color: var(--dark-cyan) !important;
    /* background: var(--dark-cyan); */
    color: var(--white);
    border:0px;
    padding:10px;
    border-radius:10px;
    text-transform:none;
  }
 @media only screen and (min-width: 540px) {
    .mobile-only {
        display:none !important;
    }
} 
@media only screen and (max-width: 541px) {
    .desktop-only {
        display:none !important;
    }
  }
  /*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* mobile size*/
@media (min-width: 400px) {
  .container{
max-width: 380px;
  width:85%;
  padding:0; 
}
  .info-box {
    padding:0 5% 0 5%;
      }
}

/*desktop size*/
@media (min-width: 540px) {
  .container {
    position: relative;
    max-width: 640px;}
    .info-box {
      padding:0 5%;
        }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
    .six.columns                    { width: 48%;            }
    .one-half.column                { width: 48%; }
  
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 0rem; }